@model Formularze.Models.Dane

<h1>Form</h1>

@using (Html.BeginForm("Form", "Dane", FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <p>
        Twoje imie:
        @Html.TextBoxFor(a => a.Imie)
        @Html.ValidationMessageFor(a => a.Imie)
    </p>

    <p>
        Twoj Email:
        @Html.TextBoxFor(a => a.Email)
        @Html.ValidationMessageFor(a => a.Email)
    </p>

    <p>
        Temat:
        @Html.TextBoxFor(a => a.Temat)
        @Html.ValidationMessageFor(a => a.Temat)
    </p>

    <p>
        Tresc:
        @Html.TextAreaFor(a => a.Tresc)
        @Html.ValidationMessageFor(a => a.Tresc)
    </p>

    <input type="submit" value="Prześlij" />
}
